<%= link_to 'Edit', edit_floor_plan_path(@floor_plan) %> |
<%= link_to 'Back', floor_plans_path %>

<div class="floor-plan-show">
  <%= render 'controls' %>

  <p class="floor-plan-title">
    <%= @floor_plan.title %>
  </p>

  <p class="floor-plan-image">
    <%= raw @floor_plan.image.file.read %>
  </p>
</div>
