<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @floor_plan.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @floor_plan.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @floor_plan.image %>
</p>

<%= link_to 'Edit', edit_floor_plan_path(@floor_plan) %> |
<%= link_to 'Back', floor_plans_path %>
